﻿.navbar
{
  background-color:#071f3b;
  width:100%
}
.selection{
  font-size: 18pt;
  color:white;
}
.search{
  display:inline;
  width:440px;
}
.search input{
  display: inline-block;
  margin-right: 10px;
  background-color:rgba(0, 0, 0, 0);
  border: 3px black solid;
  border-radius: 5px;
  color:white;
}
.search input::placeholder {
  color: white;
  opacity: 0.5;
}
.search button{
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(4, 9, 53);
  color:white;
}
.IsLogin{
  display:inline-flex;
}
.IsLogin button{
  background-color: rgb(4, 9, 53);
  color:white;
  border-radius: 10px;
  margin-top: 5px;
  height:40px;
  width:auto;
}

.MainLink{
  Color:white;
  font-size: xx-large;
}