/* Provide sufficient contrast against white background */
html,body{
  background-color: #08274b;
  width:100%;
  height:100%;
  
}
header{
  width: 100%;
}
a {
  color: #08274b;
}
h3{
  color:white;
}
h1{
  color: white;
}
.MainFrame{
  background-color: #08274b;
}
div{
  background-color: #08274b;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.login{
height:900px;
width:1100px;
}

.login button{
  background-color: rgb(3, 6, 61);
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 380px;
  height: 60px;
  width:340px;
  color: white;
  font-size: 20;
}
.textbox
{
  background-color: rgb(9, 3, 51);
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 380px;
  height: 60px;
  width:340px;
  color: red;
  font-size: 20;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: rgba(235, 238, 230, 0.897);
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.Pagination{
  margin-top: 20px;
}
.link{
  background:none;
  text-align: center;
  font-size: 30px;
  color:white;
}
.Lot{
  width: 100%;
  height: 110px;
  border: 5px inset;
  border-color: black;
  border-radius: 10px;
margin-bottom: 20px;
display: inline-flex;
}
.Lot img{
  width:100px;
  height: auto;
  border-radius: 10px;
  margin-right: 1%;
}
.LimitInput{
  width:280px;
  border-radius: 10px;


}
.filterButton{
  margin-bottom: 20px;
  margin-left: 260px;
  width:100px;
  height:50px;
  background-color: whitesmoke;
  border-radius: 20px;
}
.Pagination select{
  margin-left: 10px;
  border-radius: 10px;
  
}
.NavigationButton{
  height:40px;
  width:80px;
  border-radius: 10px;
  background-color: rgb(4, 9, 53);
  color: white
}

.CabinetLots{
  border: 5px solid black;
  height:250px;
  width:auto;
  overflow:auto;
  scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
}

.Warning{
  margin-top: 5%;
  color:white;
  font-weight: 400;
  text-align: center;
}
.EditProfile{
  margin-top: 5%;
  height: 60px;
  width: 180px;
  background-color: white;
  color:black;
  border-radius: 10px;
}
.cabinet{
  text-align: center;
}
.AddLot{
  width:100%;
  height:100%;
  text-align: center;
}
.InputField{
  height:40%;
  width:800px;
  display:inline;
  text-align: center;
}
.InputField input,textarea{
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 60%;
  border: 3px black solid;
  color: white;
}
.InputField input::placeholder,textarea::placeholder{
  color: white;
  opacity: 0.5;
}
.AddLotBtn{
  width:1100px;
  height: 60px;
  font-size: xx-large;
  font-weight: 600;
  margin-top: 5%;
  background-color: white;
}
.Owner{
  border: 3px solid black;
}
.LotPicture
{
  width:350px;
  border-radius: 10px;
  margin-right: 30px;
}
.LotDetail{
  display:inline-flex;
  text-align: center;
}
.BuyButton{
  width:75%;
  background-color: white;
  color:black;
  border-radius: 10px;
  margin-top: 10px;
}
.DeleteButton{
  width:75%;
  background-color: rgb(3, 3, 63);
  color:white;
  border-radius: 10px;
  margin-top: 10px;
}
.ProposedPriceInput
{
  background-color: rgba(0, 0, 0, 0);
  border:3px solid white;
  color:white;
}
.Users{
  margin-top: 3%;
  text-align: center;
}
.User{
  border:5px solid black;
  border-radius: 5px;
  margin-bottom: 1%;
}
.UserRedirect{
  width:75%;
  height:100px;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: rgb(3, 3, 63);
  color:white;
  font-size: xx-large;
  border-radius: 10px;
  margin-top: 10px;
}